  <%= link_to new_tale_path do %>
    <div class="big_button">
      <i class='icon-pencil icon-white'></i>
    </div>
  <% end %>
<div class="row-fluid">
  <div class="span6">
    <h1>Drafts</h1>
    <% @draft_tales.each do |tale| %>
      <%= render partial: 'layouts/admin_li', locals: { tale: tale } %>
    <% end %>
  </div>

  <div class="span6">
    <h1>Published</h1>
    <% @published_tales.each do |tale| %>
      <%= render partial: 'layouts/admin_li', locals: { tale: tale } %>
    <% end %>
  </div>

</div>
