@import "bootstrap";

$separatorColor: #ddd;
/* Mixins */

@mixin round_corners {
          border-radius: 5px;
     -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Universal properties */
body {
}

/* Containers */
.container {
  padding-top: 60px;
  padding-left: 30px;
  background-color: $white;
}

.right_container {
  p {
    font-size: 15px;
    line-height: 20px;
  }
  border-left: 1px solid $separatorColor;
  padding-left: 50px;
}

/* Titles */
h1 h2 h3 h4 h5 h6 {
}

/* Links */
a {
  color: $pink;
  &:hover {
    color: #b94a48;
    text-decoration: none;
  }
}

/* Form */
$width: 600px;

.nice_form {

  input[type=text] {
    border: none;
    border-bottom: 5px solid #333;
    border-right: 5px solid #333;
    font-size: 30px;
    font-weight: bold;
    width: $width;
    height: 50px;
    padding: 5px;
  }

  textarea {
    border: none;
    width: $width;
  }

  input[type=submit] {
    @include round_corners;
    border: none;
    background-color: $yellow;
    padding: 10px;
    font-weight: bold;

    &:hover {
      background-color: $white;
    }
  }

  input[type=checkbox] {
    margin: 0;
  }
  
}

label {
  color: $white;
}

.publish_box {
  @include round_corners;
  overflow: hidden;
  width: $width;
  border: none;
  background-color: #111;
  padding: 10px;
  margin-top: 20px;
  font-family: $monoFontFamily;
  font-weight: bold;
}

.right {
  float: right;
  display: inline;
}

.left {
  float: left;
  display: inline-block;
}

/* Miscellaneous */
.separator {
  margin: 60px 0px;
  border-bottom: 1px solid $separatorColor; 
  width: 100%;
}

blockquote {
  border-left: 5px solid $yellow;
}
.admin_link {
  color: $grayLight;
}
