@import "bootstrap";

$separatorColor: #ddd;
/* Mixins */

@mixin round_corners {
          border-radius: 5px;
     -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Universal properties */
body {
}

/* Containers */

$right_width: 60%;

.container {
  padding-top: 60px;
  padding-left: 30px;
  background-color: $white;
  width: 90%;
}

.right_container {
  .tale {
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 23px;
    width: $right_width;
    blockquote {
      p {
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 15px;
      }
      border-left: 10px solid $orange;
    }

    a {
      color: $black;
      font-weight: bold;
      text-decoration: underline;
    }

    h1, h2, h3 {
      font-size: 18px;
    }
  }

  hr {
    border-top: 4px solid $grayLighter;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  border-left: 1px solid $separatorColor;
  padding-left: 50px;
}

/* Titles */
h1 h2 h3 h4 h5 h6 {
  font-family: Raleway;
}

.blog_title, .tale_title {
  font-family: Raleway;
  font-weight: bold;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

/* Links */

a {
  &:hover {
    text-decoration: none;
  }
}

/* Form */
$width: 100%;

.nice_form {

  input[type=text] {
    border: none;
    border-bottom: 5px solid #333;
    font-size: 30px;
    font-weight: bold;
    width: $width;
    height: 40px;
    padding: 5px;
  }

  textarea {
    border: none;
    width: $width;
  }

  input[type=checkbox] {
    margin: 0;
  }
  
  input[type=submit], a {
    @include round_corners;
    border: 1px solid $grayDark;
    background-color: $yellow;
    padding: 10px;
    font-weight: bold;
    color: $grayDarker;

    &:hover {
      background-color: $white;
    }
  }
}



label {
  color: $white;
}

.publish_box {
  @include round_corners;
  overflow: hidden;
  width: $width;
  border: none;
  background-color: #111;
  padding: 10px;
  margin-top: 20px;
  font-family: $monoFontFamily;
  font-weight: bold;
}

.right {
  float: right;
  display: inline;
}

.left {
  float: left;
  display: inline-block;
}

/* Miscellaneous */
.separator {
  margin: 60px 0px;
  border-bottom: 1px solid $separatorColor; 
  width: 100%;
}

.admin_link {
  color: $grayLight;
  &:hover {
    color: $grayLight;
  }
}

.admin_li {
  &:hover {
    background-color: #ffe;
  }
  &:hover .hidden_button {
    visibility: visible;
  }
  a {
    color: $black;
    font-weight: bold;
  }
}

.admin_date {
  color: $grayLight;
  font-size: 10px;
}

.hidden_button {
  visibility: hidden;
}

.big_button {
  @include round_corners;
  font-weight: bold;
  font-size: 40px;
  background-color: $black;
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 10px 0px;
  &:hover {
    background-color: $orange;
  }
}
