<h1><%= link_to "TALES", root_path %></h1>
<p>Nghia D.</p>
<%= link_to(new_tale_path) do %>
  <i class='icon-pencil'></i>
<% end %>
<%= link_to("mailto:tnghia.duong@gmail.com") do %>
  <i class='icon-envelope'></i>
<% end %>
<%= link_to("http://github.com/adlq") do %>
  <i class='icon-align-left'></i>
<% end %>
